<launch>
    <arg name="robot_name"/>
    <arg name="init_pose"/>

    <node name="magni_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model robot1" />
    <rosparam file="$(find magni_gazebo)/config/magni_controllers.yaml" command="load"/>
     <node name="controller_spawner" pkg="controller_manager" type="spawner" args="ubiquity_velocity_controller ubiquity_joint_publisher"/>

    <!-- Topic redirection for compatibility with real robot configuration (core.launch) -->
    <!-- 'topic_tools relay' is used to redirect topics, because remap doesn't work in Gazebo. -->
    <node name="cmd_vel_relay" type="relay" pkg="topic_tools" args="/cmd_vel /ubiquity_velocity_controller/cmd_vel" />
    <node name="odom_relay" type="relay" pkg="topic_tools" args="/ubiquity_velocity_controller/odom /odom" />

    <node pkg="robot_state_publisher" type="state_publisher" 
          name="robot_state_publisher" output="screen"/>

    <!-- The odometry estimator, throttling, fake laser etc. go here -->
    <!-- All the stuff as from usual robot launch file -->
</launch>